.skills {

    font-weight: bold;
    font-size: 8rem;
    margin-top: 16rem;
    width: 100%;
    text-align: center;


}
.skillsdiv{
    width: 95%;
    height: 80vh;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    border-radius: 9999px;
    background: repeating-radial-gradient(rgb(228, 216, 216),2rem,#882525 5px, rgb(235, 231, 231) 100px);
    
    
     
    
    
    }