.burger {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #bfbfbf;
  height: 2rem;
  display: none;
  @media only screen and (max-width: 768px) {
    display: flex;
   
  }
}

.burger1 {
  transform: translateY(-0.125rem);
  background-color: black;
  display: block;
  border-radius: 0.5rem;
  height: 0.125rem;
  width: 1.5rem;
}
.burger2 {
  background-color: black;
  display: block;
  border-radius: 0.5rem;
  height: 0.125rem;
  width: 1.5rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.burger3 {
  transform: translateY(0.125rem);
  background-color: black;
  display: block;
  border-radius: 0.5rem;
  height: 0.125rem;
  width: 1.5rem;
}
header {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 8px 32px 8px 32px;
  width: 100vw;
  @media only screen and (max-width: 768px) {
  
  }

  h2 {
    font-size: 3rem;
    font-family: "Monoton", cursive;
    color: #882525;
  }

  img {
    //display: flex;
    //flex-direction: row;
    width: 26vw;
    margin-top: -7.5rem;
    padding: 0;
    margin-right: 5rem;
    //animation: cd-bounce-1 1s infinite ease alternate;
    //animation: animate 2s infinite ease alternate;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  nav {
    display: flex;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    ul {
      display: flex;
      gap: 2rem;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        background-color: #e79aa2;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        font-weight: bolder;
        font-family: "Times New Roman", Times, serif;
      }
    }
  }
}
.menu{
  background-color: #e79aa2;
}
.dropdown-menu.show{

  display: grid;
}
.navigate{
  @media only screen and (max-width: 768px) {
  display: none;
  }

}