header{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 8px 32px 8px 32px;
    width: 100vw;
    

    h2{
        font-size: 3rem;
        font-family: 'Monoton', cursive;
        color: #882525;
    }

    img{

       display: flex;
       flex-direction: row;
       width: 26vw;
       margin-top: -7.5rem;
       padding: 0;
       
    }
}