.sphere{

    @media only screen and (max-width: 768px) {
      display: none;
    
      }
}

.img2{
    display: none;
    @media only screen and (max-width: 768px) {
        display: flex;
        idth: 600px;
    height: 600px;
    animation: cd-bounce-1 2s infinite ease alternate;
    margin-bottom: 0px;
      }
 
  
}