#contact{
    @media only screen and (max-width: 768px) {
       margin-top: 0;
      }

}

.contactdiv {
    display: flex;
    justify-content: center;
    background-color: #E79AA2 ;
    height: 60vh;
    margin-left: 3rem;
    border-radius: 20%;
    @media only screen and (max-width: 768px) {
        width: 100vw;
        margin-left: 0;
      }

    form{

        display: flex;
        flex-direction: column;
        width: 30rem;
        justify-content: center;
        @media only screen and (max-width: 768px) {
            width: 70vw;
        }

        label{

            font-size: 2rem;
            font-family: Arial, Helvetica, sans-serif;

        }

        .submit{
            background-color: #fdced2;
            border-radius: 2rem;
            width: 10rem;
            margin-top: 1rem;
            margin: 1rem 9rem 0 9rem;
            font-size: 2rem;
            font-family: 'Faster One', cursive;
            @media only screen and (max-width: 768px) {
                margin: auto;
            }
            
        }
      
    }
}
h2 {
    font-weight: bold;
  font-size: 4rem;
  margin-top: 16rem;
  width: 100%;
  text-align: center;
  font-family: 'Frijole', cursive;
}